::-webkit-scrollbar {background:#ffffff; width:20px; height:20px;}
::-webkit-scrollbar-thumb {background:purple;}
::-webkit-scrollbar-thumb:hover {background:#ffffff; border:2px solid purple;}
::-webkit-scrollbar-thumb:active {background:deeppink; border:0;}
::-webkit-scrollbar-corner {background:#ffffff;}
::-webkit-scrollbar-track {background:#ffffff;}
