<html>

<style>
body::-webkit-scrollbar {background:#333; width:15px; height:15px;} /* barra de rolagem toda */
body::-webkit-scrollbar-thumb {background:#333; box-shadow:0px 0px 2px 2px #fff inset;} /* parte da barra que se movimenta */
body::-webkit-scrollbar-thumb:hover {background:#333; box-shadow:0px 0px 2px 2px #f90 inset;} /* parte da barra que se movimenta */
body::-webkit-scrollbar-thumb:active {background: #333; box-shadow:0px 0px 2px 2px #9c0 inset;} /* parte da barra que se movimenta */
body::-webkit-scrollbar-button {background:;} /* ponta da barra de rolagem */
body::-webkit-scrollbar-track {background:#333;} /* fundo da barra de rolagem, parte fixa */
body::-webkit-scrollbar-track-piece {background:#333;} /* fundo da barra de rolagem, parte que ainda falta rolar */
body::-webkit-scrollbar-corner {background:#333;} /* canto inferior direito da barra de rolagem */
</style>

<body>
Teste de barra de rolagem
</body>


</html>