#newquote {color:gray; text-align:right; font-family:verdana; font-size:11px; padding:5px; width:300px;}
#newquote i {display:block; color:black; font-family:'droid serif'; font-size:17px; margin-bottom:10px;}
div.credito {display:block; text-align:left;}