blockquote {border:2px dashed #99cc00; background:#f0fff0; color:darkgreen;}
#newquote q {color:#000; text-align:left; padding:5px; font-size:20px;}
#newquote {color:#000; text-align:left; padding:5px; font-size:15px;}
div.credito {display:block; text-align:right; font-size:10px;}
