body {color:#ccc; font-family:Muli; font-size:16px; background:#333;border:0px; margin:0px;padding:20px;}

#colu, .colu {-moz-column-width: 320px; -webkit-column-width: 320px; -o-column-width: 320px; column-width: 320px;
          -moz-column-gap: 5px; -webkit-column-gap: 5px; column-gap: 5px; -o-column-gap: 5px;}

div#contem {padding:20px; font-size:1em;}
ul#nav li {display:inline; padding:10px}
a {color:#cef; text-decoration:none;}
a:hover {text-decoration:underline;}
h2 {text-align:left;}
dl {margin:0 0 1em; overflow:auto; width:100%;}
dt, dd.price {font-size:1.8em; font-weight:bold}
dt {color:#99cc00; float:left; padding-right:3px; word-wrap:normal;}
dd {margin:0; padding-bottom:20px;}
dd.valor {font-size:25px; color:#ccc; float:right; padding-left:3px}
dd.detalhes {font-style:italic; color:#fff; float:left; padding:3px 0; width:100%;border-top:1px dashed #ccc;}
ol {list-style:decimal;}
li {padding-bottom:15px;}

#ring {padding-top:0px;}
#ring dl { -moz-column-width: 330px; -webkit-column-width: 330px; -o-column-width:330px; column-width:330px;}
#ring dt {text-align:center; float:none; padding-right:inherit; margin-top:25px; margin-bottom:10px; font-size:13px;   break-before:auto; break-inside: avoid-column; break-after: avoid-column;}
#ring dd {margin:auto; text-align:center; break-before:avoid-column; break-inside: avoid-column; break-after:auto;}
#ring a {color:skyblue;}
#ring a:hover {color:linen;}