@import url(estilo.css);
body {background:#ff0000;
	 scrollbar-track-color:#ff0000;
 	 scrollbar-face-color:#ffcc00;
	 scrollbar-3dlight-color:#ff0000;
	 scrollbar-highlight-color:#ff0000;
	 scrollbar-shadow-color:#ff0000;
	 scrollbar-darkshadow-color:#ff0000;
	 scrollbar-arrow-color:#006600;}

#back {background:#ff0000 url(bg_natal.gif) right top repeat-y;}
	 
td, p {background:#006600; color:#ffffff;}
a {color:#ffcc00;}
a:link {color:#ffff00;}
a:hover {background:#ff0000; color:white;}

button {background: #ffcc00;
	border:0px;
	color:#006600;}
h1, h2, h3, h4, h5, #titulo {color:#ffffff;}
input {border:0px; background:#ffcc00; color:#006600;}
hr {color:#ffffff; background:#ffffff;}
ul {list-style-image:url(lista_vermelho.jpg);}

textarea  {color:#006600;
	background :#ffcc00;
	border:0px;}

.autor, #autor, #menorhot {color:#cccccc;}	
#caixa {border-color:#ffeeee;}
#quote {color:#cccccc;}
